---
---

<footer class="w-full">
    <div class="w-full bg-[#2d314d] flex flex-col justify-center items-center gap-6 p-6">
        <img src="/public/images/logo-light.svg" alt="" width="200">
        <div class="flex gap-2">
            <img src="/public/images/facebook.png" alt="" class="icon">
            <img src="/public/images/youtube.png" alt="" class="icon">
            <img src="/public/images/instagram.png" alt="" class="icon">
            <img src="/public/images/twitter.png" alt="" class="icon">
        </div>
        <div class="flex flex-col items-center justify-center gap-2 text-white">
            <a href="#">About Us</a>
            <a href="#"> Contact</a>
            <a href="#">Blog</a>
            <a href="#">Career</a>
            <a href="#">Support</a>
            <a href="#">Policy Privacy</a>
        </div>
        <span class="text-white bg-linear-to-bl from-[hsl(136,64%,51%)] to-[hsl(192,69%,51%)] py-3 px-9 rounded-[40px]">Request Invite</span>
        <span class="text-[#7e7e7e]">© Digitalbank. All Rights Reserved</span>
    </div>
</footer>

<style>
    a{
        font-size: 17px;
    }

    .icon{
        height: 30px;
        width: 30px;
    }
</style>