---
import Layout from "../layouts/Layout.astro"
---

<footer class="w-full">
    <div class="w-full bg-[#2d314d] flex flex-col justify-center items-center gap-6 p-6 xl:flex xl:flex-row xl:justify-between xl:px-30 xl:h-57.5">
        
        <div class="xl:flex xl:w-[50%] xl:p-2.5">
            <div class="xl:flex xl:flex-col xl:items-center xl:justify-between xl:w-[50%] xl:p-2.5 ">
                <img src="/public/images/logo-light.svg" alt="" width="200">
                <div class=" flex gap-2 xl:gap-5">
                    <img src="/public/images/facebook.png" alt="" class="icon">
                    <img src="/public/images/youtube.png" alt="" class="icon">
                    <img src="/public/images/instagram.png" alt="" class="icon">
                    <img src="/public/images/twitter.png" alt="" class="icon">
                </div>
            </div>
            <div class="xl:w-[50%]">
                <div class="flex flex-col items-center justify-center text-white xl:flex xl:flex-row xl:p-2.5 xl:justify-between">
                    <div class="xl:flex xl:flex-col xl:gap-4">
                        <a href="#">About Us</a>
                        <a href="#"> Contact</a>
                        <a href="#">Blog</a>
                    </div>
                    <div class="xl:flex xl:flex-col xl:gap-4">
                        <a href="#">Career</a>
                        <a href="#">Support</a>
                        <a href="#">Policy Privacy</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="xl:flex xl:flex-col xl:gap-4 xl:items-end ">
            <span class="text-white bg-linear-to-bl from-[hsl(136,64%,51%)] to-[hsl(192,69%,51%)] py-3 px-9 rounded-[40px] xl:w-fit ">Request Invite</span>
            <span class="text-[#7e7e7e]">© Digitalbank. All Rights Reserved</span>
        </div>
    </div>
</footer>

<style>
    footer{
        font-family: "Montserrat", sans-serif;
    }
    a{
        font-size: 15px;
    }
    a:hover{
        color:#7e7e7e;
    }
    .icon{
        height: 30px;
        width: 30px;
    }
</style>