---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import Layout from "../layouts/Layout.astro"

---

<section class="relative w-full flex flex-col xl:flex-row-reverse items-center overflow-hidden">
    
    <div class="relative w-full xl:w-1/2">
        <img src="/images/bg-intro-mobile.svg" class="w-full xl:hidden" alt="Fondo" />
        <img src="/images/bg-intro-desktop.svg" class="hidden xl:block w-full scale-150 translate-x-20" alt="Fondo Desktop" />
        
        <img src="/images/image-mockups.png" alt="Mockups" 
             class="absolute -top-20 md:-top-32 xl:-top-40 left-0 w-full z-10 px-4 md:px-20 xl:px-0 xl:left-10"/>
    </div>

    <div class="w-full xl:w-1/2 flex flex-col gap-4 text-center xl:text-left items-center xl:items-start p-6 xl:px-20 mt-8 xl:mt-0"> 
        <h1 class="text-[#2d314d] text-4xl xl:text-6xl leading-tight">Next generation <br> digital banking</h1>
        <p class="text-[#8a8484] leading-relaxed xl:text-[20px] max-w-lg">
            Take your financial life online. Your Digitalbank account will be a one-stop-shop for spending, saving, budgeting, investing, and much more.
        </p>
        <span class="mt-4 text-white bg-linear-to-bl from-[hsl(136,64%,51%)] to-[hsl(192,69%,51%)] py-3 px-8 rounded-full font-medium cursor-pointer hover:opacity-90 transition-opacity">
            Request Invite
        </span>
    </div>
</section>

<style>
    p{
        font-family: "Montserrat", sans-serif;
    }

    h1, span{
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
    }
    @media (max-width: 640px){
        .mq{
            display: none;
        }
    }

</style>

