---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div class="relative w-full">
    <div class="relative w-full"> 
        <img src="/public/images/bg-intro-mobile.svg" class="w-full" alt="Fondo" />
        <img src="/public/images/image-mockups.png" alt="Mockups" class="absolute -top-19 left-0 w-full z-10"/>
    </div>
    <div class="w-full flex flex-col gap-4 justify-center items-center p-7">
        <h1 class=" text-[#2d314d] text-[42px] leading-12">Next generation <br> digital banking</h1>
        <p class="text-[#8a8484] text-center leading-5">Take your financial life online. Your Digitalbank account will be a one-stop-shop for spending, saving, budgeting, investing, and much more.</p>
        <span class="text-white bg-linear-to-bl from-[hsl(136,64%,51%)] to-[hsl(192,69%,51%)] py-3 px-9 rounded-[40px]">Request Invite</span>
    </div>
</div>

